process:
  seed: 1005

model:
  type: resnet18
  path: null 

data:
  path: ./data/imagenet_val  # 더미 데이터를 쓴다면 이 경로는 무시됨
  batch_size: 32
  num_workers: 4
  pin_memory: True
  input_size: 224
  test_resize: 256

quant:
  calibrate: 1024  # Total samples to load (will use 256 for act, 2 for weight as per official QDrop)
  recon:
    batch_size: 32
    scale_lr: 4.0e-4
    warm_up: 0.2
    weight: 0.01 # default 0.01
    iters: 20000
    b_range: [20, 2]
    keep_gpu: False  # Keep cached data on CPU to save GPU memory
    round_mode: learned_hard_sigmoid
    drop_prob: 0.5  # QDrop 핵심

  w_qconfig:
    bit: 4
    observer: MSEObserver
    quantizer: AdaRoundFakeQuantize
    symmetric: True
    ch_axis: 0
    quantizer_kwargs:
      soft_round_mode: hard_sigmoid

  a_qconfig:
    bit: 4
    observer: MinMaxObserver  # MinMaxObserver is memory-efficient and used in official QDrop
    quantizer: FixedFakeQuantize
    symmetric: False
    ch_axis: -1
    quantizer_kwargs:
      soft_round_mode: hard_sigmoid